# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Obj folder for debugging
DIoTY/obj
DIoTY/iisnode
DIoTY/.ntvs_analysis.dat
DIoTY/.ntvs_analysis.dat.tmp
DIoTY/bin

#folders for IntelliSense
DIoTY/typings

# enable if you want to download node modules manually.
DIoTY/node_modules
*.suo
*.db