extends layout

block content
    div.jumbotron
        div.container  
            h1 #{title}
            p
                br
            p Self-developing IoT services using open source technologies.
            p For more details, please visit to:
            p
                a.btn.btn-primary.btn-lg(href='http://webofthink.tistory.com') Web of Think
    div.container
        p This version currently supports the following features: #{sensor}
        div.row
            div.col-lg-4
                h2 JavaScript API documentation
                p It shows how to use the open API to control thermometer sensor(s). 
                p
                    a.btn.btn-default(href='/openapi.html') See details >>
            div.col-lg-4
                h2 API implementation (JavaScript version)
                p You can use the JavaScript API with this implementation.
                p
                    a.btn.btn-default(href='/javascripts/api.ts.js') Download >>
            div.col-lg-4
                h2 API implementation (TypeScript version)
                p You can use the TypeScript API with this implementation.
                p
                    a.btn.btn-default(href='/javascripts/api.ts') Download >>
        hr
        footer Copyright (C) 2015 Applied Data Science Lab@SNU. This work is licensed under version 3.0 of the Creative Commons CC-BY license.
    script(src='javascripts/jquery.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/holder.js')