doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/api.ts.js')
    script(src='javascripts/thermometer.js')
  body(onload='draw();')
    block content