doctype html
html 
    head
        title= title
        meta(name='viewport', content='width=device-width, height=device-height initial-scale=1')
        script(src='/javascripts/api.ts.js')    
        script(src='https://www.google.com/jsapi')
        script(src='javascripts/gchart.js')
    body
        div(id="chart_div", style="width: 100%; height: 100%;")